*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

li,ul{
    list-style: none;
}

a{
    text-decoration: none;
}


p{
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0.20000000298023224px;
}


.navLink{
    padding-top: 15px;
}
.navbar-brand{
    

font-size: 24px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0.10000000149011612px;
color: white;
margin-right: 85px;

}

.nav-link{
color: white;
font-size: 14px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0.20000000298023224px;
}

.WebSiteLogoAndNavbar{
    margin-top: 16px;
}

.homePageSection{
    background-image: url(../image/background\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -86px;
    height: 100vh;
}

.homePageHeading{
font-size: 58px;
font-weight: 800;
line-height: 80px;
letter-spacing: 0.20000000298023224px;
color: white;
margin-bottom: 35px;
}

.homePageSecondHeading{
    color: white;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0.20000000298023224px;
width: 376px;
margin-bottom: 35px;
}

.bg-primary{
    background-color: rgba(35, 166, 240, 1);
    color: white;
    padding: 15px,36px;

}

.homePage{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 600px;

}

.homePageButtom{
    display: flex;
    gap: 10px;
}

.facilityCard{
    background-color: rgba(37, 43, 66, 1);
}

.cards{
    /* display: flex;*/
    justify-content: space-between; 
    margin-top: 112px;
    margin-bottom: 96px;
   
}

.cardFacility{
    display:flex;
    flex-direction: column;
    background-color:  rgba(37, 43, 66, 1);
    border: none;
    color: white;
}

.facCard{
    text-align: center;
}

.facilityCardsHeading{
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.10000000149011612px;

margin-top: 32px;
margin-bottom: 10px;


}


.industryPageHeading{
font-size: 40px;
font-weight: 700;
line-height: 57px;
letter-spacing: 0.20000000298023224px;
color: aliceblue;
margin-bottom: 10px;

}

.industryPageParagraph p{
    color: aliceblue;
    margin-bottom: 80px;
}
.industrySection{
    background-color: rgba(142, 194, 242, 1);
}

.industryInfoPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
   text-align: center;
   margin-top: 120px;
   margin-bottom: 120px;
}

.indCard{
    text-align: left;
}

.industryCards{
     display: flex;
    gap: 120px;
    justify-content: center;
}

.cardIndustry{
    padding: 30px;

}

.industryPersonName{
color: rgba(37, 43, 66, 1);
font-size: 24px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0.10000000149011612px;


}


.pricingCardSection{
    background-color: rgba(37, 43, 66, 1);
}

.priceCard{
    text-align: center;
    padding: 40px;
}

.cardFacilitys{
    background-color:rgba(37, 43, 66, 1); 
    color: white;
    border: none;
}
.cardFacilitys:hover{
    transform: scale(1.1);
    
}
.cardIndustry:hover{
        transform: scale(1.1);
        
}



.pricingcardHeading{
font-size: 24px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0.10000000149011612px;
margin-bottom: 48px;
}

.pricingCardSecondHeading{
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.10000000149011612px;
margin-bottom: 37px;

}

.price{
font-size: 40px;
font-weight: 700;
line-height: 57px;
letter-spacing: 0.20000000298023224px;
color:rgba(35, 166, 240, 1);
}

.priceDuration{
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.10000000149011612px;
color: rgba(142, 194, 242, 1);
margin-bottom: 35px;

}

li,ul{
font-size: 14px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0.20000000298023224px;
padding: 0;
margin-bottom: 15px;
}

.pricebtn{
    margin-bottom: 35px;
}

.pricingCards{
    /* display: flex; */
    /* gap:30px; */
     justify-content: center;
} 

.pricingCardPage{
    text-align: center;
   
}

.priceCard:hover{

    box-shadow: 0 8px 16px white;
}

.industryPageWrapper{
    display: flex;
    justify-content: center;
}

.pricingCardWrapper{
    display: flex;
    justify-content: center;
}

.pricingCardPage{
    margin-top: 112px;
    margin-bottom: 112px;
}

.appointmenthedingContact{
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.10000000149011612px;
color: black;
}

.appoinmentformHeading{
font-size: 40px;
font-weight: 700;
line-height: 57px;
letter-spacing: 0.20000000298023224px;
margin-bottom: 40px;
}

.appoinmentForm{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.bookButton{

font-size: 14px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0.20000000298023224px;
padding: 15px 40px;

}

.formSection{
    background-image: url("../image/Appointment.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.formAppoinment{
    margin-top: 112px;
    margin-bottom: 112px;
}

.appoinmentFormSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footerHeading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footerSectionHeading{
font-size: 24px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0.10000000149011612px;

}

.footerHead p{
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0.20000000298023224px;
}

.contactButton{
font-size: 14px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0.20000000298023224px;
}

.footLink{
    display: flex;
    flex-direction: column;
}

.footerSection{
    background-color: rgba(37, 43, 66, 1);
}

.footerMainSection{
    display: flex;
   

}

.firstSectionlinkHeader{
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.10000000149011612px;
color: white;
margin-bottom: 20px;

}

.footLink a{

font-size: 14px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0.20000000298023224px;
color: white;
margin-bottom: 10px;
}

.footLink a:hover{
    color: brown;
}

.footContact{
    display: flex;
    gap:20px;
}
.footContact p{
    color: aliceblue;
}
.footerMainSection{
    display: flex;
    gap:82px;
}

.footer{
    margin-top:50px ;
    margin-bottom: 50px;
}

.footerWrapper{
    display: flex;
}

.info{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px;
}

.mediaLogo{
    display: flex;
    gap:20px;
}

.mediaLogo img:hover{
     transform: scale(1.1);
}



@media (max-width:767px) {

    .websiteNavigation{background-color: rgba(37, 43, 66, 1);
     text-align: center;
    }
    .homePage{
        width: 100%;
        align-items: center;
    }

    .homePageHeading{
        width:100%;
font-size: 40px;
font-weight: 700;
line-height: 57px;
letter-spacing: 0.20000000298023224px;
text-align: center;

    }
    
    .homePageSecondHeading{
        width: 100%;
    }
    .homePageButtom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 185px;
    }
    /* .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

    .cards{
        justify-content: center;
    }

    /* .industryCards{
        display: flex;
        flex-direction: column;
        align-items: center;
    } */
    .cardIndustry{
        width: 342px;
    }

     .pricingCards{
        /* display: flex;
        flex-direction: column; */
        gap: 40px;
    } 
    .info{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    .footerHeading{
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    .footerMainSection{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .loginbtn{
        display: none;
    }
    .memberbtn{
        display: none;
    }

    .inputfield{
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: space-between;
    }
}