*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
body{
    margin: 0;
    padding: 0;
    font-family: "Heebo",serif;
}
ul,li {
    list-style: none;
   
}

input{
    width: 373px;
    height: 64px;
    border-radius: 100px;
    border: 1px solid black;
    margin-bottom: 16px;
    border: none;

}

input ::placeholder{
padding-left: 40px;
font-size: 16px;
font-weight: 400;
line-height: 22.4px;
color: rgba(57, 62, 70, 1);
}
a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(253, 252, 252);
    
}

a:hover{
    color: red;
}
p{
    font-size: 16px;
    line-height: 24px;
}
.container{
    width:1225px;
    margin: auto;
    padding: 20px;
}

li{
    align-items: center;
}

.homePageNavigation.container{
    margin-top: 0;
    margin-bottom: 0;
}

.navigation{
    padding-top: 13px 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 32px;
    margin-bottom: 32px;
   /* background-color:#000; */
    
   
}
.navbar{
    display: flex;
}
.navbar a{
padding:8px 24px;
font-size: 16px;
font-weight: 400;
line-height: 19.2px;



}
.navLink{
    padding: 8px 24px;
    opacity: 1;
}

.HomePageHeading{
    color: aliceblue;
font-size: 72px;
font-weight: 700;
line-height: 100.8px;
text-align: center;
margin-bottom: 32px;
width: 779px;


}

.watchButton{
font-size: 16px;
font-weight: 600;
line-height: 22.4px;
color: white;
text-align: center;;
background-color: rgba(108, 0, 255, 1);
background: url("/Image/Vector.png") no-repeat center left 32px;
background-color: rgba(108, 0, 255, 1);
padding: 16px 32px 16px  72px;
border: none;
cursor: pointer;
border-radius: 100px;
margin-bottom: 94px;


}

.watchButton:hover{
    transform: scale(1.1);
}

.HomePageSection{ 
    background-image: url("/Image/Rectangle 1.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     margin-top: -140px;  
    /* height: calc(100vh - 90px); */
    height: calc(100vh + 80px);
}

/* .backGroundImage{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1;
    background-image: url("/Image/Rectangle 1.png");
    background-size: cover;
    background-position: center;
    z-index: -1;
    background-attachment: fixed;

} */


/* .homePageNavigation,.HomePageSection{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1;
    background-image: url("/Image/Rectangle 1.png");
    background-size: cover;
    background-position: center;
    z-index: -1;
    background-attachment: fixed;
} */

.homePage{
     height:100vh; 
    
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
}

/* .arrowButton img:hover {
    transform: scale(1.1);
} */


.card:hover{
    transform: scale(1.1);
    
}



.HomePageNav{
    border: 1px solid white;
    border-radius:100px;
    padding: 8px 24px;
    opacity: 1;
}

.HomePageNav a{
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
   
}

.HomePageParagraph{
    width:576px;
    text-align: center;
    color: aliceblue;
    margin-bottom: 64px;
}


.servicePageHeading{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.servicesPageHead{
font-size: 14px;
font-weight: 600;
line-height: 16.8px;
letter-spacing: 0.4em;
color: rgba(108, 0, 255, 1);
margin-top: 128px;
margin-bottom: 16px;
}

.servicesProvideHeading{
font-size: 36px;
font-weight: 500;
line-height: 43.2px;
margin-bottom: 64px;
}

.serviceLogo{
    height: 96px;
    width: 96px;
    border-radius: 50%;
    background-color: rgba(108, 0, 255, 1);
   
    margin: auto;
    margin-bottom: 32px;
}

.serviceLogo img{
   padding: 27px;
}

.seriviceHeading{
font-size: 18px;
font-weight: 600;
line-height: 21.6px;
margin-bottom: 16px;
}




.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:103px;
    margin-bottom: 100px;
}

.card{
    
    padding: 20px;
    text-align: center;
    
}
.featureCheck{
    display: flex;
}

.featureCardwrraper{
    display: flex;
    flex-direction: column;
   
}

.featurecardSection{
    display: flex;
    gap:127px;
    margin-bottom: 128px;
}

.featureCards{
    display: flex;
    flex-direction: column;
 gap:120px;
}

.featureCardImage img{
    width: 475px;
    height: 400px;
}

.featureCardImage{
     box-shadow: 32px 32px #6C00FF ;
}
.fearureCardName{ 
font-size: 14px;
font-weight: 600;
line-height: 16.8px;
letter-spacing: 0.4em;
color: rgba(108, 0, 255, 1);
margin-bottom: 16px;
}

.featureCardHeading{
font-size: 44px;
font-weight: 500;
line-height: 52.8px;
margin-bottom: 32px;
color: rgba(34, 40, 49, 1);
}

.featureCardInfoParagraph{
font-size: 16px;
font-weight: 400;
line-height: 22.4px;
color: rgba(57, 62, 70, 1);
margin-bottom: 32px;
}

.featureCheck{
    margin-bottom: 16px;
    gap: 16px;
    color: rgba(57, 62, 70, 1);
}

.secondfeatureCard {

    flex-direction: row-reverse;
} 

.secondfeatureCard .featureCardImage{
   
    box-shadow:  -32px -32px #6C00FF;
}  

.formPageHeading{
font-size: 14px;
font-weight: 600;
line-height: 16.8px;
letter-spacing: 0.4em;
text-align: center;
color: rgba(108, 0, 255, 1);
margin-bottom: 16px;
}

.formPageInfo{
font-size: 36px;
font-weight: 500;
line-height: 43.2px;
text-align: center;
color: rgba(34, 40, 49, 1);
margin-bottom: 32px;
}

.contactLogo{
    display: flex;
    gap:32px;
    margin-bottom: 33px;
}

.contactLogo p{
   padding-top: 23px;
   padding-bottom: 23px;
}
.contactLogoImg{
    width:69px;
    height:69px;
    border-radius: 50px;
    background-color: rgb(150, 104, 194);
    padding: 23px;
   
}


form{
    display: flex;
    flex-direction: column;
}

.formButton{
    
    width: 373px;
    height: 64px;
    border-radius: 100px;
    background-color:rgba(108, 0, 255, 1) ;  
    color: white;  
    border: rgba(108, 0, 255, 1);
    margin-bottom: 137px;
}
.formSectionwrraper{
    display: flex;
    gap:103px;
    justify-content: center;

}

.formForBusinessDiscuss{
    background-color: rgba(238, 238, 238, 1);
}

.messageInputField{
    height: 128px;
    border-radius: 32px;
    margin-bottom: 32px;
}

.footerSectionLink a{
    color: black;
}

.footerLink{
    display: flex;
gap:20px;
}

.footer{
    margin: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerSectionLink a ,.footerParagraph p{
font-size: 16px;
font-weight: 400;
line-height: 19.2px;
color: rgba(57, 62, 70, 1);
padding: 8px 24px;
}

.footerLink{
    margin-bottom: 16px;
}
.companyLogo{
    margin-bottom: 16px;
}


@media screen and (max-width:767px) {
    .container{
      width: 100%;
      padding: 20px;
    }

    p{
      
font-size: 16px;
font-weight: 400;
line-height: 23.5px;

    }

    .cards{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .featurecardSection{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .formSectionwrraper{
        display: flex;
        flex-direction:column-reverse;
        gap: 0px;
    }
    .footerLink{
        display: flex;
        gap: 10px;
        
    }
    .footerParagraph{
        text-align: center;
    }

    .footerSectionLink a{
        padding: 0px;
       
    }
    .navbar{
        gap:0px;
    }
    .navigation{
        gap: 0px;
        display: flex;
        flex-direction: column;
        display: none;
    }
    .navLink{
        padding: 0px;
    }
    .footerSectionLink p{
        padding: 0px;
       
    }
    .footer{
        margin: 10px;
    }
    .heading{
        width: 100%;
        font-size: 20px;
    }
    .HomePageParagraph{
        width:100%;
    }
    .featureCardImage img{
        width: 100%;
    }
    .formSection{
        width: 100%;
    }
    .formForBusinessDiscuss{
        padding: 10px;
        width: 100%;
    }
    .contactForm input{
        padding: 10px;
        width:100%;
        align-items: center;
    }

    .HomePageHeading{
        color: rgb(255, 253, 253);
        width: 100%;
    text-align: center;
    margin-bottom: 32px;
   
font-size: 32px;
font-weight: 700;
line-height: 40px;
    }


    .servicesPageHead {
        
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .servicesProvideHeading{
        margin-bottom: 20px;
    }

    .cards{
        margin-bottom: 50px;
    }

    .formButton{
        width: 100%;
        background-color:rgba(108, 0, 255, 1) ;  
        color: white;  
        border: rgba(108, 0, 255, 1);
        margin-bottom: 30px;
    }

     /* .navigation{
        display: none;
        
     } */

     .logo{
        text-align: center;
     }
   
    
}